.background-forgot-password {
    background-color: #2195f3c2;
    padding: 2vh 5vw;
}

.forgot-password {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.has-value {
    border: #0cd605 1px solid !important;
}

.has-no-value {
    border: #f00 1px solid !important;
}

.subtext {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
}

.container-input-forgot {
    margin-top: 2vh;
}

.input-password-forgot {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    display: flex;
}

.forgot-password-button {
    margin-top: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.label-forgot-password {
    top: 30% !important;
}

.button-forgot,
.button-back {
    flex: 1 1 45%;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 6vh;
    min-width: 140px;
}

.button-forgot {
    background-color: #2196f3;
}

.button-forgot:hover {
    background-color: #2195f398;
}

.button-back {
    background-color: white;
    color: black;
    border: 1px solid #2196f3 !important;
}

.verification-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.code-inputs {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin: 20px 0;
}

.digit-box {
    width: 40px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    background-color: white;
}

.digit-box:focus {
    border-color: #2196f3;
    box-shadow: 0 0 2px 2px #2196f350;
}

.button-verify {
    background-color: #2196f3;
    color: white;
    margin-bottom: 10px;
    margin-top: 10px;
    min-width: 140px;
}

.verify-button {
    width: 40%;
}

@media (max-width: 768px) {
    .forgot-password {
        width: 90%;
    }

    .button-forgot,
    .button-back {
        flex: 1 1 100%;
    }
}

@media (max-width: 480px) {
    .subtext {
        font-size: 13px;
    }

    .input-password-forgot {
        font-size: 14px;
    }

    .button-forgot,
    .button-back {
        height: auto;
        padding: 12px;
    }
}